<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/assets/main.css">
</head>
<body>

{{template "header"}}

<main>
    <h1>{{.Title}}</h1>
</main>
<p>This is a basic submission using a basic web application Golang if statement. Instead of utilizing hmtl, use css and gohtml. Color and exception version choices will be improved as a result of this.</p>

</body>
</html>