{{define "header"}}
<header>
    <div>Gopher</div>
    <div>
        <a href="/">home</a><br>
        <a href="/about">about</a><br>
        <a href="/contact">contact</a><br>
    </div>
</header>
{{end}}